__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env
.ipynb_checkpoints/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*
!models/.gitkeep
frontend/node_modules/
frontend/dist/
.vscode/
.idea/
.DS_Store
*.log
